.input-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.5rem;
}

.pokemon-input {
    margin-left: 1rem;
    margin-right: 1rem;
    height: 2.3rem;
    width: 20rem;
    border-radius: 50px;
    font-size: 25px;
}

.pokemon-input-wrong {
   color: red;
}

.pokemon-input-correct {
    color: green;
 }

.lbl {
    font-size: 25px;
}

@media screen and (max-width : 576px) {
    .pokemon-input {
        width: 9rem;
        height: 1.5rem;
        margin-left: 0;
        margin-right: 0.5rem;
        font-size: 10px;
    }

    .lbl {
        font-size: 12px;
    }
}

@media screen and (max-width : 376px) {
    .pokemon-input {
        width: 9rem;
        height: 1.5rem;
        margin-left: 0;
        margin-right: 0.5rem;
        font-size: 10px;
    }

    .lbl {
        font-size: 10px;
    }
}