.score-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    font-size: 15px;
}

@media screen and (max-width : 576px) {
    .score-container {
        font-size: 15px;
    }
}