.card {
    width: 30rem;
    height: 20rem;
}

.pokemon-img {
    width: 120%;
    height: 120%;
    filter: brightness(0);
}

.pokemon-img-correct {
    width: 120%;
    height: 120%;
    filter: brightness();
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin-top: -25px;
}

@media screen and (max-height : 780px) {
    .card-container {
        height: 45vh;
    }
}