.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -80px;
    
}

.logo-img {
    width: 25rem;
    height: 20rem;
}

.title {
    text-align: center;
    margin-top: -85px;
}