
.row-bttn-app {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
}

.start-bttn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: 9.65rem;
}