
.row-bttn-app {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
}

.start-bttn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: 9.65rem;
    height: 28.51vh;
}

@media screen and (max-width : 576px) {
    .start-bttn {
        margin-top: 7rem;
        margin-bottom: 4.35rem;
    }
}

@media screen and (max-height : 780px) {
    .start-bttn {
        height: 6.56vh;
    }
}